.bg-translucent-50 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-translucent-75 {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-translucent-85 {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
.scroll-card {
  scroll-snap-align: center !important;
}

.overflow-y-lg-scroll {
  @include lg {
    overflow-y: scroll !important;
  }
}

.fit-content {
  width: fit-content !important;
}
.overflow-y {
  overflow-y: scroll;
}
