.bg-translucent-50 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-translucent-75 {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-translucent-85 {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.fit-content {
  width: fit-content !important;
}
